[Unit]
Description=SKABEN Lock service
After=network.target auditd.service

[Service]
WorkingDirectory=${dirpath}
ExecStart=`which pipenv` run python skaben.py
Restart=on-failure
Type=idle

[Install]
WantedBy=multi-user.target
