[Unit]
Description=SKABEN Lock service
After=network.target auditd.service

[Service]
WorkingDirectory=${dirpath}
ExecStart=/usr/bin/make run
Restart=on-failure
Type=idle

[Install]
WantedBy=multi-user.target
